/*normalizar*/
*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    min-width: width 260px;
}
/*limpiar lista*/
li {
    text-decoration: none;
    list-style: none;
}

/*limpiar vinculos*/
a:visited {
    color: #060A24 100%;
}